body {
  background-color: darkolivegreen;
  color: white;
  margin: 0;
  background-image: url(../icons/Presidencia.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

span {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  height: 100vh;
  margin: 0 64px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 84px;
  line-height: 54px;
}

.subtitle {
  font-size: 40px;
  margin-bottom: 32px;
}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  column-gap: 160px;
}

.infoRow {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.infoText {
  margin: 2px 10px;
  font-size: 20px;
}

.icon {
  height: 25px;
  width: 25px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  body {
    background-size: 75%;
  }

  .title {
    font-size: 42px;
  }

  .subtitle {
    font-size: 20px;
  }

  .infoContainer {
    column-gap: 16px;
  }

  .infoText {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  body {
    background-size: 75%;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 16px;
  }

  .infoContainer {
    column-gap: 16px;
  }

  .infoText {
    font-size: 16px;
  }
}
